* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: serif;
}

header {
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 16px 0;

  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo-holder {
  color: rebeccapurple;
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: rebeccapurple;
  font-weight: bold;
}

ul {
  list-style-type: none;

  display: flex;
  gap: 16px;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

.profile-picture {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 2px 4px rgba (0, 0, 0, 0.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
